*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header section */

.logo{
    font-size: 28px;
    font-weight: bolder;
    width: 180px;
}

.header{
    display: grid;
    grid-template-columns: auto 1fr 250px 48px;
    align-items: center ;
    margin: 10px;
}

nav{
    display: flex;
    justify-content: end;
    gap: 10px;
    margin-right: 10px;
}

nav a{
    text-decoration: none;
    color: black;
    font-size: 14px;
}

.header button{
    background-color: black;
    color: white;
    font-size: 14px;
    border-radius: 5px;
}

.searchbar{
    display: flex;
    align-items: center;
}

.search_box{
    background-color: rgb(201, 200, 200);
    width: 400px;
    height: 32px;
    border-radius: 5px;
}

[src$='.svg']{
    padding-left: 5px   ;
    width: 24px;
    height: 24px;
    position: absolute;
}

.header button{
    width: 42px;
    height: 28px;
}

.rel_books{
    text-align: center;
}

.book img{
    width: 130px;
    height: 150px;
}

#book_list{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 100px;
}

/* Dialog box*/

dialog{
    width: 50vw;
    height: 50vh;
    justify-self: center;
    align-self: center;
    border: 1px solid gray;
    padding: 30px;
    font-size: 22px;
    background-color: rgb(255, 255, 255);
}